.button {
  @include font("Open Sans", 600);

  box-sizing: border-box;
  width: 100%;
  padding: 24px 24px 26px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  border: 0;
  cursor: pointer;
}
