.features {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.features__list {
  @include list-reset;

  padding-left: 25px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-left: 24px;
  }
}

.features__item {
  @include font("Open Sans", 400);

  position: relative;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 26px;
  color: $blue-grey;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include circle(6px);

    content: "";
    position: absolute;
    top: 11px;
    left: -25px;
    display: block;
    background-color: $blue;
  }
}
