.form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  order: 1;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  border: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.form__input {
  @include font("Open Sans", 400);

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 18px;
  padding: 15px 28px;
  font-size: 15px;
  line-height: 28px;
  color: $blue-grey;
  background-color: $grey-light;
  border: 2px solid $grey;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-bottom: 20px;
    padding: 14px 20px 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::placeholder {
    font: inherit;
    color: $blue-grey;
  }
}

.form__checkbox-container {
  order: 2;
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-bottom: 0;
  }
}

.form__checkbox {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  outline: none;

  @media (min-width: $tablet-width) {
    top: 4px;
    left: 4px;
  }
}

.form__label {
  @include font("Open Sans", 400);

  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1px;
  padding-left: 43px;
  font-size: 14px;
  line-height: 21px;
  color: $blue-grey;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color: $grey-light;
    border: 2px solid $grey;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    display: none;
    width: 14px;
    height: 11px;
    background-image: url("../../img/icon-check-blue.svg");
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 33px;

    &::before {
      top: 1px;
    }

    &::after {
      top: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}

.form__checkbox:focus + .form__label {
  outline: 2px solid $blue;
}

.form__checkbox:checked + .form__label {
  &::after {
    display: block;
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-color: $blue;
      border-color: $blue;
    }

    &::after {
      background-image: url("../../img/icon-check-white.svg");
    }
  }
}

.form__label-break {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form__link {
  color: $blue;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: $black;
  }
}

.form__submit-button {
  order: 3;

  @media (min-width: $desktop-width) {
    order: 2;
    margin-bottom: 32px;
  }
}
