.form__input {
  @include font("Open Sans", 400);

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 26px 14px;
  font-size: 15px;
  line-height: 28px;
  color: $blue-grey;
  background-color: $grey-light;
  border: 2px solid $grey;

  &:last-of-type {
    margin-bottom: 21px;
  }

  &::placeholder {
    font: inherit;
    color: $blue-grey;
  }
}

.form__checkbox-container {
  position: relative;
  margin-bottom: 48px;
}

.form__checkbox {
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  outline: none;
}

.form__label {
  @include font("Open Sans", 400);

  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 43px;
  font-size: 14px;
  line-height: 21px;
  color: $blue-grey;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color: $grey-light;
    border: 2px solid $grey;
  }
}

.form__checkbox:focus-visible + .form__label {
  outline: 2px solid $blue;
}

.form__link {
  color: $blue;
}
