.page-main {
  letter-spacing: -0.5px;
}

.page-main__title {
  margin: 0;
  padding: 56px 25px 84px;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
    padding: 0;
    font-size: 45px;
    line-height: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    font-size: 55px;
    line-height: 32px;
  }
}

.page-main__layout {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2px 24px $grey-shadow;
  }
}

.page-main__section {
  margin: 0;
  padding: 25px;
}
