.page-main {
  letter-spacing: -0.5px;
}

.page-main__title {
  margin: 0;
  padding: 56px 25px 84px;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  text-align: center;
}

.page-main__section {
  margin: 0;
  padding: 0 25px;
}
