.page-main {
  letter-spacing: -0.5px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 80px;
  }
}

.page-main__title {
  margin: 0;
  padding: 56px 25px 84px;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 77px;
    font-size: 45px;
    line-height: 53px;
  }
}

.page-main__section {
  margin: 0;
  padding: 25px;
}
