.pricing {
  padding-top: 0;
  padding-bottom: 34px;
  color: $white;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: $z-index-pricing;
    padding-bottom: 67px;
  }
}

.pricing__offer {
  position: relative;
  top: -53px;
  margin-bottom: -15px;

  @media (min-width: $tablet-width) {
    top: -20px;
    margin-bottom: 29px;
  }
}

.pricing__price-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
  }

  &--main-offer {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &--old {
    margin-bottom: 12px;
    color: rgba($white, 0.4);

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }
}

.pricing__text {
  display: block;
  order: 2;
  margin-bottom: 6px;
}

.pricing__price-item--old .pricing__text {
  order: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 18px;
  }
}

.pricing__price-item--main-offer .pricing__text {
  @media (min-width: $tablet-width) {
    position: relative;
    top: -6px;
  }
}

.pricing__number {
  @include font("Roboto Slab", 300);

  font-size: 40px;
  line-height: 53px;
  letter-spacing: -2px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 66px;
  }
}

.pricing__price-item--main-offer .pricing__number {
  margin-bottom: -4px;
  padding-right: 11px;
  font-weight: 400;
  font-size: 56px;
  line-height: 74px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 18px;
    font-size: 80px;
    line-height: 106px;
  }
}

.pricing__price-item--old .pricing__number {
  position: relative;
  order: 2;
  align-self: center;
  font-size: 36px;
  line-height: 47px;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: -5px;
    display: block;
    width: 105%;
    height: 2px;
    background-color: $white-faded;
  }

  @media (min-width: $tablet-width) {
    left: -2px;
    font-size: 38px;
    line-height: 50px;

    &::before {
      top: 25px;
      left: -4px;
      width: 107%;
    }
  }
}

.pricing__rub-sign {
  position: relative;
  fill: $white;

  @media (min-width: $tablet-width) {
    top: -2px;
    left: -4px;
    width: 23px;
    height: 33px;
  }

  &--bold {
    left: -3px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: -19px;
      width: 48px;
      height: 58px;
    }
  }

  &--old {
    @media (min-width: $tablet-width) {
      top: 0;
      left: 0;
      width: 23px;
      height: 29px;
    }
  }
}
