.register {
  padding-top: 40px;
  padding-bottom: 55px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    padding: 71px 122px 78px;
    box-shadow: 0 2px 24px $grey-shadow;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 130px 57px 85px;
    box-shadow: none;
  }
}

.register__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 40px;
    text-align: left;
  }
}

.register__info {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 31px;
    justify-items: end;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 190px 1fr;
    grid-gap: 0;
    margin-bottom: 28px;
  }
}

.register__info-text {
  margin: 0;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 18px;
  color: $blue-grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &--dates {
    @media (min-width: $desktop-width) {
      margin-right: auto;
    }
  }

  &--spots-counter {
    @media (min-width: $tablet-width) {
      margin-right: auto;
      margin-left: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-right: unset;
    }
  }
}

.register__text-colon {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.register__info-highlight {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $blue;
}
