// Roboto
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-cyrillic-regular.woff2") format("woff2"),
    url("../../fonts/roboto-cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-latin-regular.woff2") format("woff2"),
    url("../../fonts/roboto-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-cyrillic-bold.woff2") format("woff2"),
    url("../../fonts/roboto-cyrillic-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-latin-bold.woff2") format("woff2"),
    url("../../fonts/roboto-latin-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Roboto Slab
@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/robotoslab-cyrillic-regular.woff2") format("woff2"),
    url("../../fonts/robotoslab-cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/robotoslab-latin-regular.woff2") format("woff2"),
    url("../../fonts/robotoslab-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/robotoslab-cyrillic-light.woff2") format("woff2"),
    url("../../fonts/robotoslab-cyrillic-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/robotoslab-latin-light.woff2") format("woff2"),
    url("../../fonts/robotoslab-latin-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-cyrillic-regular.woff2") format("woff2"),
    url("../../fonts/opensans-cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-latin-regular.woff2") format("woff2"),
    url("../../fonts/opensans-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-cyrillic-semibold.woff2") format("woff2"),
    url("../../fonts/opensans-cyrillic-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-latin-semibold.woff2") format("woff2"),
    url("../../fonts/opensans-latin-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
