// Roboto
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-regular.woff2") format("woff2"),
    url("../../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-bold.woff2") format("woff2"),
    url("../../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Roboto Slab
@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/robotoslab-regular.woff2") format("woff2"),
    url("../../fonts/robotoslab-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/robotoslab-light.woff2") fornat("woff2"),
    url("../../fonts/robotoslab-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-regular.woff2") format("woff2"),
    url("../../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-semibold.woff2") format("woff2"),
    url("../../fonts/opensans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
