// Global styles & normalizing
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button[type="submit"] {
  appearance: button;
}

button[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

a {
  text-decoration: none;
}

// Visually hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}
