@mixin font($font-name, $font-weight) {
  font-family: $font-name, "Tahoma", sans-serif;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
}

@mixin font-size($value) {
  font-size: $value;
  line-height: $value;
}

@mixin move-up($value) {
  top: $value;
  margin-bottom: $value;
}
