// VIEWPORTS
$tablet-width: 770px;
$desktop-width: 1200px;

// COLORS
// colors -- basic
$white: white;
$black: black;
// colors -- main
$blue: #3d3bff;
$blue-grey: #657195;
$off-white: #f6f7fd;
$grey-light: #fafbfe;
$grey: #e6e8f0;
// colors -- special
$grey-shadow: rgba(168, 175, 196, 0.3);
